img{
    height: 79px;
    width: 100px;
    border-radius: 11px;
    border: 2px solid #44a144a3;
}

.btn-cadastrar{
    float: right;
    background-color: #0e4d62 !important;
    
}



.btn-ver-mais{
    background-color: transparent;
    border: none;
    background-color: #0e3c60;
    color: white;
    border-radius: 5px;
}
.cont-artigo{
    border: 1px solid #00000052;
    padding: 10px;
    border-radius: 5px;
}